<?xml version="1.0"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <patterns>
    <pattern name="domain" from="https://reg\.2domains\.ru" to="http://localhost:50009" />
  </patterns>
  <redirects>
    <redirect from="http://localhost:50009/" to="https://reg.2domains.ru/">
      <replaces>
        <rule mediaType="text/html" patterns="domain" />
        <rule mediaType="application/ecmascript" patterns="domain" />
        <rule mediaType="application/javascript" patterns="domain" />
        <rule mediaType="application/x-ecmascript" patterns="domain" />
        <rule mediaType="application/x-javascript" patterns="domain" />
        <rule mediaType="text/ecmascript" patterns="domain" />
        <rule mediaType="text/javascript" patterns="domain" />
        <rule mediaType="text/x-ecmascript" patterns="domain" />
        <rule mediaType="text/x-javascript" patterns="domain" />
      </replaces>
    </redirect>
  </redirects>
</settings>